{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }]
}
