.ant-pro-sider-collapsed-button {
  inset-inline-end: -32px !important;
  inset-block-start: 4px !important;
}

.ant-pro-sider-hide-menu-collapsed {
  inset-inline-start: -60px !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-item {
  height: 133px;
  width: 133px;
}

.ant-pro-base-menu-item-title {
  justify-content: space-around;
}
